<div class="container">

  <div class="row">
      <div class="col-xs-4">
  <h1 style="text-align: center; margin-top: 0"><small style="cursor: pointer;" ng-click=deleteNote() ><span class="glyphicon glyphicon-trash"></small></h1>
  </div>
  <div class="col-xs-4">
  <h1 style="text-align: center; margin-top: 0"><small style="cursor: pointer;" ng-click=saveNote() ><span class="glyphicon glyphicon-floppy-disk"></small></h1>
  </div>
  <div class="col-xs-4">
  <h1 style="text-align: center; margin-top: 0"><small style="cursor: pointer;" ng-click=closeNote() ><span class="glyphicon glyphicon-remove"></small></h1>
  </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-md-4 col-lg-2 col-sm-push-1 col-md-push-4 col-lg-push-5">
        <div class="row">
      <div class="col-xs-3">
  <h1 style="text-align: center; margin-top: 0; color: #ffff33;"><small style="cursor: pointer;" ng-click=changeBackground('yellow') ><span style="color: #ffff80;" class="glyphicon glyphicon-text-background"></small></h1>
  </div>
  <div class="col-xs-3">
  <h1 style="text-align: center; margin-top: 0; color: #33ff33;"><small style="cursor: pointer;" ng-click=changeBackground('green') ><span style="color: #80ff80;" class="glyphicon glyphicon-text-background"></small></h1>
  </div>
  <div class="col-xs-3">
  <h1 style="text-align: center; margin-top: 0; color: #33ffff;"><small style="cursor: pointer;" ng-click=changeBackground('blue') ><span style="color: #80ffff;" class="glyphicon glyphicon-text-background"></small></h1>
  </div>
  <div class="col-xs-3">
  <h1 style="text-align: center; margin-top: 0; color: #ff33ff;"><small style="cursor: pointer;" ng-click=changeBackground('pink') ><span style="color: #ff80ff;" class="glyphicon glyphicon-text-background"></small></h1>
  </div>
</div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default" style="border: none;">
    <!-- <div class="panel-heading" style="padding:0" > -->
    <div class="panel-heading" contenteditable
         name="myWidget" ng-model="currentNote.title"
         strip-br="true"
         required
         ng-attr-style="resize: none; {{setColor(currentNote.color, 'heading')}}"></div>
   <!-- </div> -->
    <div class="panel-body"
    contenteditable
         name="myWidget" ng-model="currentNote.text"
         strip-br="true"
         required
         ng-attr-style="min-height: 15rem; resize: none; {{setColor(currentNote.color)}}">{{currentNote.text}}</div>
    </div>
    </div>
    </div>
  </div>


<!--<div class="col-xs-6">
 <h1 style="text-align: center; margin-top: 0"><small style="cursor: pointer;" ng-click=closeNote() >Close Note <span class="glyphicon glyphicon-plus"></small></h1>
</div>
<div class="col-xs-6">
<h1 style="text-align: center; margin-top: 0"><small style="cursor: pointer;" ng-click=deleteAll() >Delete All <span class="glyphicon glyphicon-trash"></small></h1>
</div>
</div>
<br>
<div class="row">

<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" ng-repeat="note in notes">
<div class="panel panel-default" style="border: none; cursor: pointer;" ng-click=openNote(note)>
<div class="panel-heading"
ng-attr-style="white-space: nowrap;  overflow: hidden;text-overflow: ellipsis; {{setColor(currentNote.color, 'heading')}}"
>{{currentNote.title}}</div>
<div class="panel-body" style=""
ng-attr-style="height: 10rem; white-space: nowrap;  overflow: hidden;text-overflow: ellipsis; {{setColor(currentNote.color)}}"
>
{{currentNote.text}}
</div>
</div>
</div> -->

</div>

</div>
