      <div class="container">
<div class="row">
    <div class="col-xs-6">
<h1 style="text-align: center; margin-top: 0"><small style="cursor: pointer;" ng-click=createNew() >New Note <span class="glyphicon glyphicon-plus"></small></h1>
</div>
<div class="col-xs-6">
<h1 style="text-align: center; margin-top: 0"><small style="cursor: pointer;" ng-click=deleteAll() >Delete All <span class="glyphicon glyphicon-trash"></small></h1>
</div>
</div>
<br>
<div class="row">

<div class="col-xs-6 col-sm-4 col-md-2 col-lg-2" ng-repeat="note in notes">
  <div class="panel panel-default" style="border: none; cursor: pointer;" ng-click=openNote(note)>
    <div class="panel-heading"
    ng-attr-style="white-space: nowrap;  overflow: hidden;text-overflow: ellipsis; {{setColor(note.color, 'heading')}}"
    ng-bind-html="note.title"></div>
    <div class="panel-body" style=""
    ng-attr-style="height: 10rem; white-space: nowrap;  overflow: hidden;text-overflow: ellipsis; {{setColor(note.color)}}"
    ng-bind-html="note.text">
    </div>
  </div>
</div>

</div>

</div>
