
  <!-- <div class="page-header"> -->
      <div class="container">
    <div class="row">
        <div class="col-xs-10">
    <h1 style="margin-bottom: 0">My Notes</h1>
  </div>
          <div class="col-xs-2">
<!-- <button type="button" class="btn btn-default" ng-click=logOut()>Logout <span class="glyphicon glyphicon-log-out"></button> -->
  <h1 style="float:right; margin-bottom: 0"><span style="cursor: pointer;" ng-click=logOut() class="glyphicon glyphicon-log-out"></h1>
  </div>
  </div>
</div>
<!-- </div> -->
