/* Empty. Add your own CSS if you like */
/*.popover {
  height: auto !important;
}
.popover ion-header-bar {
  position: relative;
}
.popover ion-content {
  top: 0;
  position: relative;
}
.popover-inner-content {
  width: 100%;
  padding: 5px 20px;
}*/
ion-content div.scroll{
  height: 100%; }

.webPage{
  width: 100%;
  height: 100vh;
  /*border: 2px solid #EAAB00;
  padding: 1rem;*/
}
